target/
!.mvn/wrapper/maven-wrapper.jar
*.pyc
NIDO_WEB_GUI/NIDO_WEB_GUI

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Re-include gentelella files ###
!NIDO_WEB_GUI/gentelella/build
!NIDO_WEB_GUI/gentelella/vendors

	
